<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
    <script src="{% static 'script.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'style_screen1.css' %}">
    <link rel="stylesheet" href="{% static 'style_screen2.css' %}">
    <title>Screen9</title>
    <style>
        .assignment-category {
            display: none;
        }
    </style>
    <script>
        function filterAssignments() {
            var selectedCategory = document.getElementById("category").value;
            var categories = document.querySelectorAll(".assignment-category");
            
            categories.forEach(function(category) {
                if (category.id === selectedCategory ) {
                    category.style.display = "block";
                } else {
                    category.style.display = "none";
                }
            });
        }
        document.addEventListener('DOMContentLoaded', function() {
            var gradeData = JSON.parse("{{ hist_grade_data_json|escapejs }}");
            var weeks = gradeData.map(data => data.week);
            var grades = gradeData.map(data => data.grade);

            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: weeks,
                    datasets: [{
                        label: 'Total Grade',
                        data: grades,
                        backgroundColor: '#D1C0A8',
                        borderWidth: 1,
                        borderRadius: 15,
                        barThickness: 60
                    }]
                },
                plugins :[ChartDataLabels],
                options: {
                    onClick: function(evt, element) {
                        if (element.length > 0) {
                            var index = element[0].index;
                            var clickedData = gradeData[index];
                            var previousData = index > 0 ? gradeData[index - 1] : null; 
                            displayDataBesideChart(clickedData, previousData);
                        }
                    },
                    scales: {
                        x: {
                            grid: {
                                display: false
                            }
                        },
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Grades'
                            }
                        }
                    },
                    plugins: {
                        datalabels: {
                            formatter: function(value, context) {
                                if (context.dataIndex === 0) {
                                    return '0%';
                                } else if(context.dataset.data[context.dataIndex - 1] !== undefined){
                                    var diff = value - context.dataset.data[context.dataIndex - 1];
                                    var arrow = diff >= 0 ? '⬆' : '⬇';
                                    return "\t\t\t"+ arrow + "\n\n" + Math.abs(diff).toFixed(2) +'%'+ "\n\n";
                                }
                            },
                            color: 'black',
                            font: {
                                weight : 'bold',
                                size: 14,
                                font: 'Lato'
                            }
                        }
                    }
                }
            });

            function displayDataBesideChart(data, previousData) {
                var displayElement = document.getElementById('data-display');
                if (!previousData) {
                    displayElement.innerHTML = 'No previous week data available for comparison.';
                    return;
                }
                var currentCategoricalPercentage = JSON.parse(data.categorical_percentage);
                var previousCategoricalPercentage = JSON.parse(previousData.categorical_percentage);

                var displayContent = '<b>' + data.week + '  Categorical Grade Impact:</b><br><br><ul>';

                Object.keys(currentCategoricalPercentage).forEach(function(category) {
                    var difference = currentCategoricalPercentage[category] - previousCategoricalPercentage[category];
                    var arrow = '';
                    if (difference > 0) {
                        arrow = '⬆';
                    } else if (difference < 0) {
                        arrow = '⬇';
                    }
                    displayContent += '<li>' + category + ': ' + Math.abs(difference).toFixed(2) + '%' + ' ' + arrow + '</li><br>';
                });

                displayContent += '</ul>';
                displayElement.innerHTML = displayContent;
            }

        });
    </script>
</head>
<body>
   <div class="container-wrapper">
    <div class ="icon-tab" style="width: 90px; height: 780px; background: #633F5A;">
        <div class="icon-container" id="icon-container1">
            <button class="button" onclick="changeColor('icon-container1','text','icon')">
                <img src="{% static 'images/Canvas.png' %}" data-active-src="{% static 'images/Canvas_active.png' %}" alt="Canvas" class="icon" style="width: 50px; height: 50px;">
                <div class="text">Home</div>
            </button>
        </div>
    
        <div class="icon-container"id="icon-container2" >
            <button class="button" onclick="changeColor('icon-container2','text','icon')">
                <img src="{% static 'images/Account.png' %}" data-active-src="{% static 'images/Account_active.png' %}" alt="Account" class="icon">
                <div class="text">Account</div>
            </button>
        </div>
    
        <div class="icon-container" id="icon-container3">
            <a style="text-decoration:none" href="{% url 'screen_2' %}">
                <button class="button"  onclick="changeColor('icon-container3','text','icon')">
                    <img src="{% static 'images/Advising.png' %}" data-active-src="{% static 'images/Advising_active.png' %}" alt="Advising" class="icon">
                    <div class="text">Advising</div>
                </button>
            </a>
        </div>
    
        <div class="icon-container" id="icon-container4">
            <button class="button" onclick="changeColor('icon-container4','text','icon')">
                <img src="{% static 'images/Calendar.png' %}" data-active-src="{% static 'images/Calendar_active.png' %}" alt="Calendar" class="icon">
                <div class="text">Calendar</div>
            </button>
        </div>
    
        <div class="icon-container" id="icon-container5">
            <button class="button" onclick="changeColor('icon-container5','text','icon')">
                <img src="{% static 'images/Inbox.png' %}" data-active-src="{% static 'images/Inbox_active.png' %}" alt="Inbox" class="icon">
                <div class="text">Inbox</div>
            </button>
        </div>
        <div class="icon-container last-container" id="icon-container6">
            <button class="button" id="backButton" onclick="changeColor('icon-container6','text','icon')">
                <img src="{% static 'images/Go Back.png' %}" data-active-src="{% static 'images/Back_active.png' %}" alt="Back" class="icon">
            </button>
        </div>
    </div>

    <div>
        <div class="options-header">
            <div class="heading" id="heading">Course : <span style="color: #633F5A;">{{course_name}}</span></div>
            <div class="buttons-container">
                <button id="bell" class="Help-button">
                    <img src="{% static 'images/Bell.png' %}"  alt="Notification" class="help-icon">
                </button>
                <button id="Menu" class="Help-button">
                    <img src="{% static 'images/Menu.png' %}"  alt="Menu" class="help-icon">
                </button>
            </div>
        </div>
        <div class="container" style="margin-left: 170px;">
            <div class="wrapper" style="display: inline-block;">
                <div class="div-1">
                    <h2 style="display: inline;">Historical Trend Data Analysis </h2> 
                </div>
                <div class="div-1">
                    <h4 style="display: inline; margin-left: 50px;">Student Name : </h4> <b><span style="color: #633F5A;">{{ student_name }}</span> </b>
                    {% if grade_info %}
                        <h4 style="display: inline; margin-left: 50px;">Current Percentage : </h4><b><span style="color: #633F5A;">{{ grade_info.current_score }}%</span></b>
                    {% endif %}
                    {% if grade_info %}
                        <h4 style="display: inline; margin-left: 50px;">Grade : </h4><b><span style="color: #633F5A;">{{ grade_info.current_grade }}</span></b>
                    {% endif %}
                </div>
            </div>
            <div class="risk-factor-table" style=" margin-left: -150px; margin-top: 30px;">
                <div class="div-1" >
                    <h3 style="display: inline; margin-left: 150px;">Grade History Chart</h3>
                    <h3 style="display: inline; margin-left: 500px;">Impact Analysis</h3>
                </div>
                <div class="bar_chart">
                    <canvas id="myChart"></canvas>
                    <div id="data-display">
                        Click on a bar to see details.
                    </div>
                </div>                
            </div>
            
        </div>
    </div>
</div>

</body>
</html>
